---
import Navbar from './Navbar.astro';
import Hero from './Hero.astro';
import Projects from './Projects.astro';
import Contact from './Contact.astro';
---
<div class="relative p-4 flex flex-col items-center w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(101,86,203,0.3),rgba(24,24,38))]">
    <Hero />
    <Projects />
    <Contact/>
    <Navbar />
</div>

