<ul class=" fixed top-0 right-0 justify-center items-end flex flex-col gap-4 pt-4 pr-4">
    <li class="text-white text-sm font-semibold">
        <a href="/">Inicio</a>
    </li>
    <li class="text-white text-sm font-semibold">
        <a href="/about">Sobre mi</a>
    </li>
    <li class="text-white text-sm font-semibold">
        <a href="/projects">Proyectos</a>
    </li>
    <li class="text-white text-sm font-semibold">
        <a href="/contact">Contacto</a>
    </li>
</ul>
    


<style>
    header {
        border-radius: 10px;
        border: 1px solid #32324d;
        background: #21213493;
        box-shadow: 0 4px 12px 0 rgba(41, 40, 117, .08);
    }
</style>